# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the key takeaways from the course
**Objectives:**
- List popular languages for Data Science
- List common data science libraries
- Create basic Markdown tables and lists
- Perform simple Python arithmetic in a notebook

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. scikit-learn
3. ggplot2

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [16]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author  
Rithanya Chandran